<!--The content below is only a placeholder and can be replaced.-->
<!-- WE ARE NOW INSIDE APP-ROOT/app.component.ts-->
<div align="center" z-index="1" position="absolute">
    <label>
      <input [(ngModel)]="search" placeholder="Topic to Analyze">
    </label>

    <ul class="sources">
        <li *ngFor="let newsource of sources ">
          <!-- let newsource of function, create an array of mapped/iterable thing we want to display as newsource-->
          <span>{{newsource}}</span>
        </li>
          <!-- FOR EACH SOURCE IN THE ARRAY, SEND RESPONSE DATA TO A NEW RESULT BOX -->
            <input [(ngModel)]="newsource" placeholder="New Source">
            <br>
            <button (click)="addSource(newsource)">Add Another Source</button>
    </ul>

    <button (click)="analyzeAll()">Analyze</button>

</div>

